/* All styles for your header Components live here */
.logo-container {
    width: 75px;
}

img {
    height: 50px;
    width: 50px;
    padding: 0 12.5px;
    /* object-fit: contain; */
    justify-content: flex-start;
    background: white;
}

.header {
    display: flex;
    justify-content: flex-start;
    padding-right: 15px;
    /* height: 75px; */
}

.header-title {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.title-content {
    display: flex;
    flex-direction: column;
}

.header-content {
    margin: 0;
}